<!DOCTYPE html>
html(lang="es-MX")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title My pets
        link(rel="stylesheet", href="/css/fontello.css")
        link(rel="stylesheet", href="css/estilo.css")
    body 
        header
            .contenedor
                h1.icon-guidedog My pets
                input#menu-bar(type="checkbox")
                label.icon-menu(for="menu-bar")
                nav.menu
                    a(href="#")  Inicio
                    a(href="#")  Mascotas
                    a(href="#")  Blog
                    a(href="#")  Contacto
        main
            section#banner
                img(src="img/banner.jpg", alt="Banner perro")
                .contenedor
                    h2  Mascotas y niños felices.
                    p   ¿Cuál es la mejor mascota para usted?
                    a(href="#") Leer más
            section#bienvenidos
                h2 BIENVENIDOS A NUESTRO CLUB
                p   Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet, dolor voluptatum? Error commodi labore, inventore quas repudiandae magnam ad nihil.
            section#blog
                h3  Lo último de nuestro blog
                .contenedor
                    article
                        img(src="img/perro1.jpg", alt="")
                        h4  Escoge tu mascota perfecta
                    article
                        img(src="img/perro2.jpg", alt="")
                        h4  Los animales necesitan cariño
                    article
                        img(src="img/perro3.jpg", alt="")
                        h4  Camina con tu mascota
            section#info
                h3  Para muchos de nosotros las mascotas no son simples comáñeros, son miembros de la familia.
                .contenedor
                    .info-pet
                        img(src="img/perro4.jpg", alt="")
                        h4  Fido
                    .info-pet
                        img(src="img/perro5.jpg", alt="")
                        h4  Hermilo
                    .info-pet
                        img(src="img/perro6.jpg", alt="")
                        h4  Juancho
                    .info-pet
                        img(src="img/perro7.jpg", alt="")
                        h4  Concho
        footer
            .contenedor
                p.copy  My pets&copy; 2017
                .sociales
                    a.icon-facebook-rect(href="#")
                    a.icon-twitter(href="#")
                    a.icon-instagram(href="#")

